/CustomOpenCards/CustomOpenCards/obj
/CustomOpenCards/CustomOpenCards/bin
/CustomOpenCards/TestProject/obj
/CustomOpenCards/TestProject/bin
/CustomOpenCards/XmlFileTransferHandle/obj
/CustomOpenCards/XmlFileTransferHandle/bin
